:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: white;
  box-shadow: 0 12px 44px rgb(0 0 0 / 7%);
  padding: 20px;
}

img {
  width: 200px;
  height: 200px;
}

button {
  background-color: transparent;
  border: none;
  font-size: 30px;
}
